<h2>{{data.name}}</h2>
<p>{{data.address_1}}</p>
<p>{{data.city}}, {{data.state_province}} {{data.postal_code}}</p>
{{#if data.phone}}
  <p>Phone: {{data.phone}}</p>
{{/if}}
{{#if data.website_url}}
  <p><a href="{{data.website_url}}">{{data.name}} Website</a></p>
{{/if}}