<h2>{{data.name}}</h2>
<p>Address:  {{data.address_1}}</p>
<p>City:  {{data.city}}</p>
<p>State:  {{data.state_province}}</p>
<p>Postal Code:  {{data.postal_code}}</p>
<p>Phone:  {{data.phone}}</p>
<p>Website:  {{data.website_url}}</p>